/* For small devices (up to 576px) */
@media (max-width: 576px) {
  .heading {
      font-size: 18px;
  }
  .col-xxl-8 {
      width: 100%;
  }
  .col-xxl-4 {
      width: 100%;
      position: static;
      margin-top: 20px; /* Adjust as needed */
  }
  .row > .col-xxl-4 > .row {
      position: static;
      width: 100%;
      margin-top: 10px; /* Adjust as needed */
  }
}

/* For medium devices (576px - 992px) */
@media (min-width: 576px) and (max-width: 992px) {
  /* No specific changes needed for medium screens */
}

/* For large devices (992px - 1200px) */
@media (min-width: 992px) and (max-width: 1200px) {
  /* No specific changes needed for large screens */
}

/* For extra large devices (1200px and above) */
@media (min-width: 1200px) {
  /* No specific changes needed for extra-large screens */
}
.heading{
  font-size: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 3%;
  margin-bottom: 1px;
}
#total{
  border: none;
  background-color: aliceblue;
  padding: 5px 0px;
outline: none
}

input:focus{
  background-color: #ECEFF1;
  border: 1px solid #B3E5FC !important; outline: none !important;
}
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}
button[type="submit"]{
  width: 19%;
  position: absolute;
  right: 1px;
  top: 10px;
  font-size: 17px;
  font-weight: 900;
}
.table-wrapper {
  max-height: 100px; /* Set your desired maximum height */
  overflow-y: auto;
  
}
.btn-primary{
  cursor: pointer;
}